.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.gameServer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 18px * 2);
  padding: 18px;
  border-radius: 20px;

  background: var(--background-light);
  
  color: var(--text-color);
}
.loadingError {
  padding: 15px;
  border-radius: 10px;
  margin: 0;
  background: var(--background-light);
}