.container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.sidebar {
  position: relative;
  flex: 1;
  left: 0;
  min-width: 250px;
  height: 100%;
  background: var(--background-light);
}

.page {
  flex: 4;
  padding-left: 20px;
}
.content {
  position: absolute;
  padding: 20px;
  top: 50px;
  width: 100%;
  height: 100%;
}
.openDrawerBtn {
  display: none; 
}
.pageTitle {
  color: rgba(255, 255, 255, 0.3);
  user-select: none;
}

.sidebarButtons {
  width: 100%;
  padding: 0;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  list-style-type: none;
}
.sidebarButtons button {
  background: rgba(0, 0, 0, 0.3);
  font-size: 15px;
  width: 200px;
}

.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  width: 100vw;
  height: 22px;
  background: var(--highlight);
  font-size: 14px;
}
.footerServerTag {
  margin-left: 20px;
}
.footerVersion {
  margin-right: 20px;
}
.footer a {
  color: white;
}
.footer a:hover {
  text-decoration: underline;
}

.beta {
  position: fixed;
  top: 20px;
  right: 20px;
  text-transform: uppercase;
  background: white;
  color: black;
  padding: 5px 10px;
  border-radius: 20px;
  user-select: none;
}