.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.sidebar {
    width: 300px;
    height: 100%;
    background: var(--background-light);
}
.content {
    padding: 20px;
    width: calc(100% - 300px - 40px);
    height: calc(100% - 40px);
}
.pageTitle {
    margin: 0;
    color: rgba(255, 255, 255, 0.3);
}

.sidebarButtons {
    width: 100%;
    padding: 0;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    list-style-type: none;
}
.sidebarButtons button {
    background: rgba(0, 0, 0, 0.3);
    font-size: 15px;
    width: 200px;
}

.control_buttons {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
}
.control_buttons button {
    width: 100px;
}

.tiles {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.headerInput {
    cursor: text;
    border: none;
    display: inline;
    font-family: inherit;
    font-size: inherit;
    padding: none;
    width: auto;
    outline: none;
    background: transparent;
    color: white;
    font-weight: 800;
    font-size: 32px;
    margin: 20px 0 20px 0;
    margin-left: 20px;
}
.headerInput:enabled {
    border-bottom: 2px solid var(--highlight);
}

.editSaveCancel {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.editSaveCancel button {
    width: 100px;
}
.editCancel {
    background: #373737;
}