@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Sen:wght@400;700;800&display=swap');

:root {
    --background-dark: #030618;
    --background-light: #060a1f;
    --text-color: white;
    --highlight: #Bc1930;
    --highlight-dark: #991627;
}

body {
    margin: 0;
    background: var(--background-dark);
    color: var(--text-color);
    font-family: 'Sen', sans-serif;
    overflow-x: hidden;
}
h1 {
    font-weight: 800;
}

a {
    text-decoration: none;
}

button {
    position: relative;
    padding: 10px;
    background: var(--highlight);
    color: var(--text-color);
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    transition: scale 200ms, background 200ms;
}
button:hover {
    transform: scale(1.02);
    background: var(--highlight-dark);
}

.loadingBackground {
    animation: loadingBackground 1s linear 0s infinite normal none;
    background: linear-gradient(
        90deg,
        var(--background-dark),
        var(--background-light),
        var(--background-dark)
    );
    border-radius: 30px;
}

@keyframes loadingBackground {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position: 300px 0px;
    }
}